@{
    ViewData["Title"] = "Home Page";
}

<div>
    @* <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
        <div class="position-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-target="#content" href="/Home/PatientsTable">
                        Пациенти
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content">
        <!-- Razor view content will be loaded here -->
    </div> *@
</div>

<script>
    $(document).ready(function () {
        // Function to load Razor views via AJAX
        function loadView(url) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'html',
                success: function (data) {
                    $('#content').html(data);
                }
            });
        }

        // Handle menu item clicks
        $('.nav-link').click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr('href');
            loadView(targetUrl);
        });
    });
</script>

@* <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="PatientsTable">
    Пациенти
</a> *@