@model PatientViewModel

<style>
    .centered-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start
    }

    .form-label {
        margin-right: 10px
    }

    .form-control {
        margin-right: auto
    }
</style>

@if (Model is not null)
{
    <form id="editPatient-@Model.Id" class="modal-form" asp-controller="Patient" asp-action="Update" asp-route-id="@Model.Id" method="post" role="form">
        <div id="editPatientModal-@Model.Id" class="hidden-element" tabindex="-1" role="dialog" aria-labelledby="editPatientModalLabel-@Model.Id" aria-hidden="true">
            <div class="modal-dialog modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPatientModalLabel-@Model.Id">Редактирай пациент</h5>
                    <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row align-items-end centered-items">
                        <label asp-for="Name" class="form-label col-auto">Име<span class="text-danger ms-1">*</span></label>
                        <input asp-for="Name" class="form-control" placeholder="Име" autocomplete="on" />
                    </div>
                    <div class="form-row mb-2">
                        <span asp-validation-for="Name" class="form-text text-danger"></span>
                    </div>

                    <div class="form-row align-items-end centered-items">
                        <label asp-for="MobileNumber" class="form-label col-auto">Телефонен номер<span class="text-danger ms-1">*</span></label>
                        <input asp-for="MobileNumber" class="form-control" placeholder="Телефонен номер" autocomplete="on" />
                    </div>
                    <div class="form-row mb-2">
                        <span asp-validation-for="MobileNumber" class="form-text text-danger"></span>
                    </div>

                    <div class="form-row align-items-end centered-items">
                        <label asp-for="EGN" class="form-label col-auto">ЕГН<span class="text-danger ms-1">*</span></label>
                        <input asp-for="EGN" class="form-control" placeholder="ЕГН" autocomplete="on" />
                    </div>
                    <div class="form-row mb-2">
                        <span asp-validation-for="EGN" class="form-text text-danger"></span>
                    </div>

                    <div class="form-row align-items-end my-2 centered-items">
                        <label asp-for="Birthday" class="form-label col-auto">Рожден ден</label>
                        <input type="date" asp-for="Birthday" class="form-control" />
                    </div>

                    <div class="form-row align-items-end my-2 centered-items">
                        <label asp-for="Address" class="form-label col-auto">Адрес</label>
                        <input asp-for="Address" class="form-control" placeholder="Адрес" autocomplete="on" />
                    </div>

                    <div class="form-row align-items-end my-2 centered-items">
                        <label asp-for="Diagnose" class="form-label col-auto">Диагноза</label>
                        <input asp-for="Diagnose" class="form-control" placeholder="Диагноза" autocomplete="on" />
                    </div>

                    <div class="form-row align-items-end mt-2 centered-items">
                        <label asp-for="FirstAppointment" class="form-label col-auto">Първи преглед</label>
                        <input type="date" asp-for="FirstAppointment" class="form-control" />
                    </div>

                    <div class="form-row align-items-end my-2 centered-items">
                        <label asp-for="Notes" class="form-label col-auto">Бележки</label>
                        <input asp-for="Notes" class="form-control" placeholder="Бележки" autocomplete="on" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">Затвори</button>
                    <button type="submit" class="btn btn-primary">
                        Редактирай
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#editPatientModal-@Model.Id').attr('class', 'modal fade');
        });
    </script>

    <noscript>
        <style>
            .close-button {
                display: none;
            }
        </style>
    </noscript>
}